<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target='_blank' href="https://github.com/dino217">
    Brandon</a>. A tall bearded creature with a fondness for drink and industry.
  </p>
  <p>
    He codes by drinking massive amounts of coffee, then bashing his face into a
    keyboard. It works okay.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'face.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Brandon Roberts</h2>
    <br />
    <p>
      Brandon is a new and aspiring web developer. Other things Brandon has done include:
      <ul>
        <li>Builder of a Buddhist Temple</li>
        <li>Maintenance Manager at a non-profit book bindery</li>
        <li>Full time meditator</li>
        <li>Security guard in Honolulu, HI</li>
      </ul>
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
